.edit-form__text {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 1.2;
  color: #000;
}

.edit-form__text:focus {
  border-color: #000;
  outline: none;
}
