.element__btn-like {
  margin: 0;
  padding: 0;
  background-image: url("../../../images/blocks/elements/like.svg");
  border: 0;
  transition: opacity 0.3 ease;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 10px;
  width: 20px;
  height: 18px;
}

.element__btn-like:hover {
  cursor: pointer;
  opacity: .6;
}

.element__btn-like:focus {
  outline: none;
}
