.icon-button_type_add {
  background-image: url("/images/blocks/profile/profile-add-button.svg");
  height: 50px;
  border-width: 2px;
}

@media screen and (max-width: 600px) {
  .icon-button_type_add {
    background-size: 16px;
  }
}
