.popup__button-close {
  background-image: url("../../../images/blocks/popup/close-icon.svg");
  width: 40.7px;
  height: 40.7px;
  border-width: 0px;
  grid-row: 1;
  grid-column: 2;

}

@media screen and (max-width: 425px) {
  .popup__button-close {
    grid-column: 1;
    justify-self: flex-end;
  }
}
