.container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: var(--main-margin-left);
  margin-right: var(--main-margin-right);
}

@media screen and (max-width: 425px) {
  .container_wide {
    margin-left: 0;
    margin-right: 0;
  }
}
