.page__container {
  color: white;
  display: flex;
  flex-direction: column;
  max-width: var(--main-max-width);
  width: 100%;
  margin: 0 auto;
  padding: 45px 0 60px;
}

@media screen and (max-width: 425px) {
  .page__container {
    padding: 28px 0 36px;
  }
}
